PlotTest/
results/
data/
darksirens
GWcosmoVenv/

DSCatalogueCreator/flagship_snapshot.tar.gz
DSCatalogueCreator/flagship.fits
DSCatalogueCreator/flagship_second_attempt.fits
DSCatalogueCreator/11536.fits
DSCatalogueCreator/EVA00.fits 
DSCatalogueCreator/EVA01.fits
DSCatalogueCreator/EVA02.fits
DSCatalogueCreator/EVA03.fits
DSCatalogueCreator/Numb_DS_of_z_int.txt
DSCatalogueCreator/arr_of_int_lim.txt
DSCatalogueCreator/two_point_radii_cutted.txt
DSCatalogueCreator/SecondaryMasses.txt
DSCatalogueCreator/cos_inclination.txt
DSCatalogueCreator/effective_primary_masses.txt
DSCatalogueCreator/mass_ratio.txt
DSCatalogueCreator/secondaryMasses.txt
DSCatalogueCreator/allpsi.txt
DSCatalogueCreator/*.png
DSCatalogueCreator/EVA02_detected12_oneyear.fits
DSCatalogueCreator/wrongsnrEVA02.fits

MyDSStat/results
MyDSStat/FullExplorer.txt
MyDSStat/FullExplorer_big.txt
