PlotTest/
results/
data/
darksirens
GWcosmoVenv/

DSCatalogueCreator/flagship_snapshot.tar.gz
DSCatalogueCreator/flagship.fits
DSCatalogueCreator/flagship_second_attempt.fits
DSCatalogueCreator/11536.fits
DSCatalogueCreator/EVA00.fits 
DSCatalogueCreator/EVA01.fits
DSCatalogueCreator/EVA02.fits
DSCatalogueCreator/EVA03.fits
DSCatalogueCreator/Numb_DS_of_z_int.txt
DSCatalogueCreator/arr_of_int_lim.txt
DSCatalogueCreator/two_point_radii_cutted.txt
DSCatalogueCreator/SecondaryMasses.txt
DSCatalogueCreator/cos_inclination.txt
DSCatalogueCreator/effective_primary_masses.txt
DSCatalogueCreator/mass_ratio.txt
DSCatalogueCreator/secondaryMasses.txt
DSCatalogueCreator/allpsi.txt
DSCatalogueCreator/*.png
DSCatalogueCreator/EVA02_detected12_oneyear.fits
DSCatalogueCreator/wrongsnrEVA02.fits

MyDSStat/results
MyDSStat/FullExplorer.txt
MyDSStat/FullExplorer_big.txt
MyDSStat/Uniform_from_flag_big.txt
MyDSStat/weights.txt
MyDSStat/weights_halved.txt
MyDSStat/weights_bin.txt
MyDSStat/Flag.txt
MyDSStat/sampled_from_uniform.txt
MyDSStat/Speed.txt
MyDSStat/sampled_from_uniform_halved.txt
MyDSStat/ExtractedFast.txt
MyDSStat/fast_weights.txt
MyDSStat/fast_weights_bin.txt
MyDSStat/CuttedFast.txt
MyDSStat/SecondTake.txt
MyDSStat/HostFullCut00.txt
MyDSStat/HostFullCut01.txt
MyDSStat/HostFullCut02.txt
MyDSStat/HostRob00.txt
MyDSStat/HostRob01.txt
MyDSStat/HostRob02.txt
MyDSStat/HostRob03.txt
MyDSStat/Nz00.txt
MyDSStat/Nz00_bin.txt
MyDSStat/Nz00_weights.txt
MyDSStat/Nz01.txt
MyDSStat/Nz01_bin.txt
MyDSStat/Nz01_weights.txt
MyDSStat/Nz03.txt
MyDSStat/Nz03_bin.txt
MyDSStat/Nz03_weights.txt

